<a href="https://colab.research.google.com/github/ssundxr/Artificial-Intelligence/blob/main/exp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = {
    'Name': ['Shyam', 'Asmita', 'Divya', 'Manaswi', 'Ritika'],
    'Age': [24, 27, 22, 32, 26],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'San Francisco']
}

df = pd.DataFrame(data)
print("DataFrame:\n", df)

sorted_df = df.sort_values(by='Age')
print("\nSorted DataFrame by Age:\n", sorted_df)

DataFrame:
       Name  Age           City
0    Shyam   24       New York
1   Asmita   27    Los Angeles
2    Divya   22        Chicago
3  Manaswi   32        Houston
4   Ritika   26  San Francisco

Sorted DataFrame by Age:
       Name  Age           City
2    Divya   22        Chicago
0    Shyam   24       New York
4   Ritika   26  San Francisco
1   Asmita   27    Los Angeles
3  Manaswi   32        Houston